/*
Colors used 
	#417781		dark green			header
	#7ABD9E		green				
	#D2E6A1 	light green			highlight	
	#FEFBB6		dark yellow
	#FFFDEE		light yellow		body background
*/

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: arial,verdana,sans-serif;
	font-size: 100%;
	color: #333;
	background-color: #FFFDEE;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-weight: bold;
	color: #417781;
}

h1, h2, h3, h4, h5, h6, dt {
	color: #417781;
}

h1, h2, h3 {
	line-height: 40px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.65em;
}

h3 {
	font-size: 1.3em;
}

#page-wrap {
	margin: 0 auto;
	max-width: 1260px;
	padding: 0 2rem 0px 2rem;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '.';
	clear: both;
	height: 0;
}

p {
	margin: 1em 0;
	font-weight: normal;
}

a { 
	color: inherit;
	text-decoration: none;
}

a:visited {
	color:inherit;
}

a:hover {
	font-weight: bold;
}

li {
	padding-bottom: 0.2em;
}

article li {
	margin: 20px 10px;
}
dt { 
	float: left; 
	clear: left; 
	width: 200px; 
	font-weight: bold; 
	text-align: right;
} 

dt:after { 
	content: "  -"; 
} 

dd { 
	margin: 0 0 0 210px; 
	padding: 0 0 0.2em 0; 
}

.img-left, .img-right {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 15rem;
}

.img-left {
	float:left;
	margin-right: 5px;
}

.img-right {
	float:right;
	margin-left: 5px;
}

.note {
	font-style: italic;
	color: #7ABD9E;
}

i {
	padding-right : .5rem;
}
